<!--========================================================== -->
<!-- HEAD -->
<!--========================================================== -->

<%- include('../../partials/admin/head.ejs', {tituloWeb: 'USUARIOS' }) %>

<!--========================================================== -->
<!-- NAVBAR -->
<!--========================================================== -->

<%- include('../../partials/admin/navbar.ejs') %>

<!--========================================================== -->
<!-- BARRA LATERAL -->
<!--========================================================== -->

<%- include('../../partials/admin/barraLateral.ejs') %>

<!--========================================================== -->
<!-- CONTENIDO -->
<!--========================================================== -->

<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            
            <div class="container my-5 contenedorCentrado tablas-formularios">
                <div class="row" style="padding: 20px;">
            
                    <table id="example" class="table table-striped ">
                        <caption>
                            Usuarios
                        </caption>
                        <thead>
                            <tr>
                                <th scope="col">Nombre</th>
                                <th scope="col">Correo</th>
                                <th scope="col">Contrase単a</th>
                                <th scope="col">Rol</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
            
                        <tbody>

                            <% if (usuarios.length > 0) { %>
                                <% usuarios.forEach(usuario => { %>
                                    <tr>
                                        <td><%= usuario.nombreCompleto %></td> 
                                        <td><%= usuario.correo %></td>
                                        <td><%= usuario.contrase単a %></td>
                                        <td><%= usuario.rol %></td>
                                        <td>
                                            <div class="btn-group btn-group-sm" role="group" aria-label="Acciones">
                                                <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#detalleUsuario" data-id="<%= usuario._id %>">
                                                    <i class="fa-solid fa-eye"></i> Ver
                                                </a>
                                                <a class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#editarUsuario"
                                                    data-id="<%= usuario._id %>"
                                                    data-nombre="<%= usuario.nombreCompleto %>"
                                                    data-correo="<%= usuario.correo %>"
                                                    data-contrase単a="<%= usuario.contrase単a %>"
                                                    data-rol="<%= usuario.rol %>"
                                                    data-foto="<%= usuario.foto %>">
                                                    <i class="fa-solid fa-user-pen"></i> Editar
                                                </a>
                                                <a class="btn btn-danger" href="#">
                                                    <i class="fa-solid fa-trash"></i> Eliminar
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                <% }) %>                                  
                            <% } %>
                            
                        </tbody>
                    </table>
                    
                </div>        

        </div>
    </main>
</div>

<!--========================================================== -->
<!-- MODAL DETALLES USUARIOS -->
<!--========================================================== -->

<%- include('../../modales/usuarios/detalleUsuarios.ejs') %>

<!--========================================================== -->
<!-- MODAL EDITAR USUARIOS -->
<!--========================================================== -->

<%- include('../../modales/usuarios/editarUsuarios.ejs') %>

<!--========================================================== -->
<!--FOOTER-->
<!--========================================================== -->

<%- include('../../partials/admin/footer.ejs') %>