<!--========================================================== -->
<!-- HEAD -->
<!--========================================================== -->

<%- include('../../partials/admin/head.ejs', {tituloWeb: 'PROVEEDORES' }) %>

<!--========================================================== -->
<!-- NAVBAR -->
<!--========================================================== -->

<%- include('../../partials/admin/navbar.ejs') %>

<!--========================================================== -->
<!-- BARRA LATERAL -->
<!--========================================================== -->

<%- include('../../partials/admin/barraLateral.ejs') %>

<!--========================================================== -->
<!-- CONTENIDO -->
<!--========================================================== -->

<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            
            <div class="container my-5 contenedorCentrado tablas-formularios">
                <div class="row" style="padding: 20px;">

                    <table id="example" class="table table-striped " >
                        <caption>
                            Categorias
                        </caption>
                        <thead  class="texto-centrado">
                            <tr>
                                <th scope="col">ID</th> 
                                <th scope="col">Nombre</th> 
                                <th scope="col">Descripción</th> 
                                <th scope="col">Presentacion</th> 
                                <th scope="col">Acciones</th> 
                            </tr>
                        </thead>
                        <tbody>    
                            <% categorias.forEach(categoria => { %>
                                <tr>
                                    <td><%= categoria._id %></td>  
                                    <td><%= categoria.nombre %></td>
                                    <td><%= categoria.descripcion %></td> 
                                    <td><%= categoria.presentacion %></td>
                                    <td>
                                        <div class="btn-group btn-group-sm" role="group" aria-label="Acciones">
                                            <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#editarCategoriaModal" data-id="<%= categoria._id %>" data-nombre="<%= categoria.nombre %>" data-descripcion="<%= categoria.descripcion %>" data-presentacion="<%= categoria.presentacion %>">
                                                Editar
                                            </button>
                                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmarEliminarModal" data-id="<%= categoria._id %>">
                                                <i class="fa-solid fa-trash"></i> Eliminar
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                <% }) %>
                                
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-success btn-crear" data-bs-toggle="modal" data-bs-target="#registrarCategoriaModal">
                        Registrar categoria
                        <i class="fa-solid fa-plus" style="margin-left: 9px;"></i>
                    </button>                    
            
                </div>
            </div>
                

                    

        </div>
    </main>
</div>

<div class="modal fade" id="registrarCategoriaModal" tabindex="-1" aria-labelledby="registrarCategoriaModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="registrarCategoriaModalLabel">Registrar Nueva Categoría</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="formRegistrarCategoria" action="/v1/categorias" method="POST">
                    <div class="form-group mb-3">
                        <label for="nombreCategoria">Nombre:</label>
                        <input type="text" id="nombreCategoria" name="nombreCategoria" required class="form-control">
                    </div>
                    <div class="form-group mb-3">
                        <label for="descripcionCategoria">Descripción:</label>
                        <textarea id="descripcionCategoria" name="descripcionCategoria" required class="form-control"></textarea>
                    </div>
                    <div class="form-group mb-3">
                        <label for="presentacionCategoria">Presentación:</label>
                        <input type="text" id="presentacionCategoria" name="presentacionCategoria" required class="form-control">
                    </div>

                    <button type="submit" class="btn btn-primary">Registrar Categoría</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal de Confirmación -->
<div class="modal fade" id="confirmarEliminarModal" tabindex="-1" aria-labelledby="confirmarEliminarModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmarEliminarModalLabel">Confirmar Eliminación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿Estás seguro de que deseas eliminar esta categoría?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>

                <!-- Formulario de eliminación, cuyo action será cambiado dinámicamente -->
                <form id="formEliminarCategoria" method="POST">
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal para Editar Categoría -->
<div class="modal fade" id="editarCategoriaModal" tabindex="-1" aria-labelledby="editarCategoriaModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editarCategoriaModalLabel">Editar Categoría</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="formEditarCategoria" method="POST">
                    <div class="form-group mb-3">
                        <label for="editNombreCategoria">Nombre:</label>
                        <input type="text" id="editNombreCategoria" name="nombreCategoria" required class="form-control">
                    </div>
                    <div class="form-group mb-3">
                        <label for="editDescripcionCategoria">Descripción:</label>
                        <textarea id="editDescripcionCategoria" name="descripcionCategoria" required class="form-control"></textarea>
                    </div>
                    <div class="form-group mb-3">
                        <label for="editPresentacionCategoria">Presentación:</label>
                        <input type="text" id="editPresentacionCategoria" name="presentacionCategoria" required class="form-control">
                    </div>

                    <button type="submit" class="btn btn-primary">Actualizar Categoría</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!--========================================================== -->
<!--FOOTER-->
<!--========================================================== -->

<%- include('../../partials/admin/footer.ejs') %>